.chatsBg {
  background: #ffffff;
}

.chatsDefault {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  background: #edbc7c;
  height: 16%;
}
#chats_header {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5% 10px;
}

#chats_myImg {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid #f1f1f1;
}

#chats_title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0 5%;
}

#chats_title h1 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}

#chats_list {
  width: 100%;
  height: 66%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background: #fffcf9;
}

.chats_li-column {
  display: flex;
  align-items: center;
}
.chats_listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  margin: 10px 0;
}

.chats_li-img {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  margin-right: 15px;
  border: 1px solid #f1f1f1;
}

#chats-readingCount {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  background-color: rgba(140, 94, 130, 1);
}

#chats_li-title {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 500;
}

#chats_li-subtitle {
  margin-top: 3px;
  color: rgba(140, 94, 130, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

#chatRoomTypeButtons {
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #fef8fe;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

#chatRoomTypeButtons button {
  width: 28%;
  padding: 6px;
  height: 100%;
  margin: 0;
  font-size: 12px;
  background-color: #fef8fe;
}

.chatBtnActive {
  border-bottom: 2px solid rgba(140, 94, 130, 1);
}
