.detailApplicationMain{
    margin: 7vh 0 0;
    /* background: #ededed; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
}
.detailApplicationMain > *{
    padding: 20px 0;
    /* border: 1px solid #333; */
}

/* 캘린더 박스 */
#calendarBox{
    height: 45%;
}
#calendarBox > h5{
    margin-bottom: 10px;
}

.react-calendar{
    width: 100% !important;
    border: none !important;
/*     border: 1px solid #333; */
}
.react-calendar__navigation{
    margin-bottom: 5px !important; /* 연도/월 밑에 margin */
}
.react-calendar__month-view__weekdays{
    font-size: 12px !important; /* 요일 타이틀 날짜 글씨 크기 */
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0 5px 8px !important; /* 요일 타이틀 위 아래 여백 설정 */
}
.react-calendar__tile {
    padding: 6px 6.6667px !important;
    font-size: 12px !important;
}
.saturday { /* 토요일 날짜 색 변경 */
    color: blue !important;  /* 토요일 날짜의 글씨를 파란색으로 표시 */  
}
/* 부모 타일 크기를 조정해 줌 */
.react-calendar__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* padding: 0 !important; */
}
.react-calendar__tile--now {
    background: none !important;
    color: black !important; 
    /* border-radius: 50%;  
    aspect-ratio: 1; 
    width: 30px;
    height: 30px; */
}
.react-calendar__tile--now::before {
    content: '';
    position: absolute;
    width: 30px; /* 원의 크기 조절 */
    height: 30px; /* 원의 크기 조절 */
    background-color: rgba(174, 176, 190, 0.393) !important;  /* 배경색 변경 */
    border-radius: 50% !important;  /* 원 모양으로 변경 */
    z-index: 0;  /* 글자보다 뒤에 위치하도록 설정 */
  /*   transform: scale(0.7);  *//* 원의 크기 조절 */
}
/* 선택된 날짜 */
/* 시작 및 끝 날짜에 적용되는 클래스 */
.react-calendar__tile--hasActive {
    background-color: #006edc !important; 
}
.react-calendar__tile--active {
    color: #000 !important;
}

/* .react-calendar__tile--active {
    background: none !important; 
    border-radius: 50% !important; 
}
.react-calendar__tile--active::before {
    content: '';
    position: absolute;
    width: 30px; 
    height: 30px; 
    background-color: blue !important;  
    border-radius: 50% !important;  
    z-index: 0;  
} */
  





/* 수강시간 */
#selectTimeBox{
    
}
#selectTimeBox > h5{
    font-family: bold;
  /*   font-size: 18px; */
    margin-bottom: 10px;
}
#selectTimeBox > p {
    /* font-size: 16px; */
}


/* 신청 인원 */
#personnelApplication{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.personnelTitle{
    font-weight: bold;
}
.controlBtnBox{
    display: flex;
    gap: 10px;
}
.controlBtnBox > button{
    width: 25px;
    height: 25px;
    background: #F0F2F5;
    border-radius: 50%;
    text-align: center;
}

/* 버튼 박스 --start */

.detailApplicationBtnBox{
    width: 100%;
    height: 15%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.detailApplicationBtnBox > *{
    width: 80%;
    height: 34px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.detailApplicationBtnBox > .payingBtn{
    color: #fff;
    background: #369EFF;
}
.detailApplicationBtnBox > .cancelBtn{
    background: #edf0f6;
    /* margin-bottom: 5px; */
}