/* 헤더,푸터 제외하고 스크롤 가능하도록 수정하기*/
/* 버튼 컨테이너 배치 수정 */
/* 배너 윗부분 깨짐; */

.applicationHeader {
  height: 7%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}

#classApplicationMain {
  width: 100%;
  margin: 7vh 0 8vh;
  overflow-y: auto;
}

.classBanner {
  width: 100%;
  height: 26vh;
  /* height: 30%; */
  background: #ededed;
}
.classBanner > img {
  width: 100%;
  height: 100%;
  /* background: url("../img/class_application_banner.svg") no-repeat center; */
  object-fit: cover;
}

.classApplicationSection {
  width: 90%;
  /* height: 68%; */
  margin: 0 auto;
  /* border: 1px solid #333; */
}

.classApplicationSection > .titleContainer {
  border-bottom: 1px solid #e5e8eb;
  width: 100%;
  padding: 15px 0;
}
.titleContainer > * {
  margin: 0 0 15px;
}
.titleContainer > .classRating {
  font-size: 14px;
}
/* 다연이가 수정함 */
.classRating > .gotoReview {
  margin-left: 10px;
  font-size: 10px;
  color: #6c6c6c;
  border-bottom: 1px solid #949494;
}
/* .classRating > img {
  height: 11px;
  margin-left: 5px;
} */


.titleContainer > h3 {
  font-size: 18px;
}
.titleContainer > .classDate {
  font-size: 12px;
}
.titleContainer > p {
  font-size: 14px;
}
.titleContainer > .classDescription {
  margin-bottom: 0;
}

.classInfoBox {
  width: 100%;
  border-bottom: 1px solid #e5e8eb;
  padding: 12px 0;
  font-size: 12px;
}
.classInfoBox > p:nth-of-type(1) {
  margin-bottom: 5px;
  font-weight: 550;
}

/* 버튼 배열 수정 필요 */

.applicationBtnBox {
  /* width: 100%; */
  height: 8%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  bottom: 10px;
}
.applicationBtnBox > * {
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.applicationBtnBox > .applicationBtn {
  width: 80%;
  height: 36px;
  background: #fa0aeb;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 20px;
}
.applicationBtnBox > .chatBtn {
  width: 30px;
  height: 100%;
  position: absolute;

  right: 2%;
  /* background-color: #fff; */
  background: url("../img/class_application_chat_icon.svg") no-repeat center;
}
