.homeBackground{
    background: #f8f6f3;
    /* 흰색 너무 심심해서 약하게 크림색 깔았음 */
}

.homeHeader {
  /* border-bottom: 1px solid #333; */
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeHeader > h3 {
  font-size: 18px;
}

.mainContent {
  /* background: #ededed; */
  width: 100%;
  height: 83%;
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4%;
}

.classTypeContainer {
  /*   border: 1px solid #333; */
  width: 100%;
  height: 20%;
}
.classTxt {
  font-size: 14px;
  padding-left: 2px;
  /* height: 18%; */
  /* font-weight: bold; */
  /* border-bottom: 1px solid #333; */
}
.classTypeContainer > .classTypeBox {
  width: 100%;
  height: 82%;
  padding-top: 10px;
  /* background: #fff; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.classTypeBox > .typeContent {
  width: 30%;
  height: 65px;
  background: #ededed;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.1s ease, font-weight 0.2s ease;;
}
.typeContent:hover{
    transform: scale(1.02);
}
.typeContent:hover ~ p{
    font-weight: bold;
}
.typeContent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  border-radius: 8px;
}
.classTypeBox > .typeContent > p {
  font-weight: 540;
}
.classTypeBox > .allClass {
  background: url("../img/class_type_all.png") no-repeat center center;
  background-size: cover;
}
.classTypeBox > .Regular {
  background: url("../img/class_type_regular.png") no-repeat center center;
  background-size: cover;
}
.classTypeBox > .OneDay {
  background: url("../img/class_type_oneday.png") no-repeat center center;
  background-size: cover;
}

.typeContent > p {
  font-size: 14px;
  z-index: 2;
  text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.1);
}

/* 배너 */
.bestClassContainer {
  /*   border: 1px solid #333; */
  width: 100%;
  height: 38%;
}
.banner {
  height: 80%;
  margin-top: 10px;
  background: #ededed;
  border-radius: 8px;
}
.slick-list {
    height: 100%;
    border-radius: 8px;
}
.bannerImgWrapper{
    position: relative; /* 부모 요소에 position 설정 */
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.bannerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* .bannerImg::after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.39647331320901846) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
} */
.bannerTxtBox{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); */
    background: rgba(102, 102, 102, 0.2);
    position: absolute;
    top: 0;
    color: #fff;
    padding: 80px 20px 20px;
}
.bannerTxtBox > h4{
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 1px;
    text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.2);
}
.bannerTxtBox > p {
    font-size: 13px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* 카테고리 */
.categoryContainer {
  /*    border: 1px solid #333; */
  width: 100%;
  height: 28%;

}
.categoryBox {
 /*  background: rgba(250, 250, 250, 0.5); */
  height: 70%;
  margin-top: 10px;
  border-radius: 8px;
  padding: 7px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.categoryHomeList {
  /* background: #fff; */
  font-size: 12px;
  width: 90%;
  height: 100%;
  text-align: start;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease, 
            font-weight 0.2s ease;
}
.categoryHomeList:nth-of-type(1){
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}
.categoryHomeList:hover {
  color: #8e1e88;
  font-weight: bold;
  /* font-size: 13px; */
  transform: scale(1.04);
  text-shadow: 0;
}
.categorySubTxt {
  position: absolute;
  top: 50%;
  font-size: 9px;
  color: #8c5e8a;
}
