.mapHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapHeader > h3{
  /* font-weight: 400; */
  font-size: 18px;
}


#map {
  width: 100%;
  height: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 15px;
}

/* 로딩 페이지 */
.loadingBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoWrapper {
  display: inline-block;
  margin-top: 20px;
  animation: scale 2s ease-in-out infinite;
}
.logoIcon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("./media/moment_class_logo.svg") no-repeat center center;
  background-size: contain;
  opacity: 0.8;
  animation: spin 3s linear infinite; 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0%, 100% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1); 
  }
}

.loadingGif{
  width: 50%;
  height: auto;
  object-fit: contain;
}


/* 현재위치검색 버튼 */
#map > .resetMapBtn{
  background: #fff;
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 5;
  border-radius: 9px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.18);
  padding-right: 3px;
}
.resetMapBtn > span{
  font-weight: 300;
  color: #404040; 
  font-size: 18px;
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #333; */
  /* position: absolute;
  left: 2px; */
}

/* .info-window-content {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; 
  padding: 10px;
  font-size: 12px;
}

.info-window-content a {
  color: blue;
  text-decoration: none;
}

.info-window-content a:hover {
  text-decoration: underline;
} */

/* 클릭 모달  */
.map > #clickModal{
    width: 100%;
    height: 30%;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
    /* padding: 8px 25px; */
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}
#clickModal > span{
  display: inline-block;
  width: 40%;
  height: 4px;
  border-radius: 30px;
  background: #cacaca;
}
#clickModal > .clickClassInfo{
  /* border: 1px solid #333; */
  width: 90%;
  height: 85%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5%;
}
.clickClassInfo >img{
  background: #ededed;
  width: 38%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}
.clickClassInfo > .classInfoTxt{
  /* border: 1px solid #333; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.classInfoTxt > .selectedClassType{
  font-size: 10px;
  color: #666;
  margin: 0;
}
.selectedClassName{
  margin-bottom: 10px;
}
.classInfoTxt > p {
  font-size: 12px;
  margin-bottom: 4px;
}

/* 모바일 사이즈일 때 classInfoTxt 비율 조정 추가하기 */
@media screen and (min-width: 768px) {
  .clickClassInfo >img{
    background: #ededed;
    width: auto;
    aspect-ratio: 1 / 1; 
    height: 90%;
    border-radius: 10px;
  }
}









/* 카카오맵 기본 css 수정란 */
/* map.css 파일에 추가 */
/* .custom-zoom-control {
  width: 20px; 
  height: 60px; 
}

.custom-zoom-control .kakao-mc {
  font-size: 14px; 
}

.custom-zoom-control .kakao-mc-btn {
  width: 20px; 
  height: 30px; 
} */
