.profileMain {
  /* border: 1px solid #333; */
}

#myclass-header {
  /* border: 1px solid #333; */
  margin: 5% 0 4%;
  font-size: 15px;
}
#myclass-header h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 35px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 10px;
}

.myclass-main {
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: auto;
  /* border: 1px solid #333; */
}

#myclass-main::-webkit-scrollbar {
  width: 0px; /* 스크롤바의 너비를 0으로 설정 */
}

#myclass-main::-webkit-scrollbar-thumb {
  background: transparent; /* 스크롤바의 색상을 투명으로 설정 */
}

#myclass-main::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙의 색상을 투명으로 설정 */
}

/* .myclass-contentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.myclass-contentBox_img {
  width: 100%;
  max-height: 155px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.myclass-contentBox h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
}
.myclass-contentBox span {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(61, 77, 92, 1);
} */

/* 내가 생성한 클래스 */

.myclass-gridBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 모바일에서는 한 줄에 두 개 */
  gap: 16px;
  height: 83%;
  overflow-y: auto;
}

.myclass-box {
  position: relative;
  overflow: hidden;
  height: 150px;
  margin-bottom: 20px;
}

.myclass-box_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.myclass-box_title,
.myclass-box_price,
.myclass-box_type,
.myclass-box-btn {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.myclass-box_title {
  top: 10px;
  left: 10px;

  font-size: 13px;
  font-weight: 700;
  line-height: 16.77px;
  text-align: left;
}

.myclass-box_price {
  bottom: 10px;
  left: 10px;
  font-size: 11px;
}

.myclass-box_type {
  bottom: 25px;
  left: 10px;
  font-size: 11px;
}
.myclass-box-btn {
  bottom: 10px;
  right: 10px;
}

.myclass-box-btn > button {
  padding: 2px;
  border-radius: 5px;
  font-size: 11px;
}

@media screen and (max-width: 530px) {
  .myclass-box {
    height: 90px;
  }
}
