.searchListMain {
  width: 100%;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  /* gap: 3%; */
  padding: 30px 0;
  /* border: 1px solid #333; */
}

.second_search-form {
  background: #f5f0f5;
  height: 35px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.searchList-main {
  width: 100%;
  height: 83%; /* height값 수정해야함  */
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding: 20px 0;
  /* border: 1px solid #333; */
}

#searchList-selectBox select {
  border: none;
  width: 95px;
  background-color: #f5f0f5;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 6px;
}

.mySearchList-main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 5px;
  /* border: 1px solid #333; */
}
.mySearchList-main > .search-contentBox {
  /*   border: 1px solid #333; */
  padding: 10px;
  width: 100%;
  height: 223px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.search-contentBox_img {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 10px;
  object-fit: cover;
}
.search-contentBox h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
}
.search-contentBox div {
  height: 30px;
  display: flex;
  flex-direction: column;
}
.search-contentBox div p {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(61, 77, 92, 1);
}
