* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#default-padding {
  /* 모든 페이지 공통되는 양쪽에 여백 */
  width: 85%;
  height: 100%;
  position: relative;
}

.app-header {
  /*거의 모든 페이지 공통되는 상단 헤더 부분*/
  width: 100%;
  height: 7%;
}

.nextBtn {
  /*공통되는 다음 버튼*/
  width: 100%;
  height: 35px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  position: absolute;
  bottom: 25px;
  background-color: rgba(54, 158, 255, 1);
  color: rgba(255, 255, 255, 1);
}

#mobile-view {
  border: 1px solid #ccc;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /*  height: 100vh; */
}

/* 전체 페이지 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

/*모달*/
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 창 */
.modal {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 230px;
  width: 100%;
  text-align: center;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 15px;
  white-space: pre-line;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.confirm-btn,
.cancel-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}

.confirm-btn {
  background-color: rgba(140, 94, 130, 1);
  color: white;
}

.cancel-btn {
  background-color: #f5f0f5;
}


@media screen and (max-width: 768px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    padding: 0;
  }

  #mobile-view {
    width: 100vw;
    height: 100vh;
    border: none;
    box-shadow: none;
    overflow-wrap: break-word;
  }
  .applicationBtnBox {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    padding: 0;
  }

  #mobile-view {
    width: 375px;
    height: 667px;
    border: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  }
  /* 헤더와 네비게이션 바도 mobile-view의 고정된 크기에 맞춰 조정 */
  .classListHeader,
  #navBar {
    width: 375px; /* 고정된 너비에 맞게 설정 */
    /* left: calc(50% - 187.5px); */
  }
  .applicationBtnBox {
    width: 375px;
  }
}
